@import "colours.scss";

.blog-content {

    margin-left: 3vw;
    margin-right: 3vw;

    height: 100%;
    h3 {
      font-size: 2.75em;
      font-weight: 110;
    }

    .right {
      float: right;
    }

    .left {
      float: left;
    }

    .paragraph {
      display: flex;
      box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
      margin-bottom: 5vh;
      max-width: 90%;
      background: $dark-grey;

      .big-container {
        div {
          display: flex;
        }
      }

      img {
        max-height: 40vh;
        max-width: 40vh;
        width: 40vh;
      }

      .blogText {
        min-height: fit-content;

        h3 {
          color: $light-color;
          padding: 0 0 0 3%;
        }

        h4 {
          color: $light-color;
          padding: 0 0 0 3%;
          margin-top: 1%;
        }

        p {
          color: $light-color;
          padding: 3% 3% 3% 3%;
          margin: 0;
        }

        ul,
        ol {
          color: $light-color;
          margin-left: 2%;
          margin-right: 2%;
        }

        table {
          padding: .5% 3% .5% 3%;
        }

        .with_subtitle {
          margin-bottom: 0;
        }

        .second_left_align {
          th:nth-of-type(2) {
            text-align: left;
          }
        }

        .third_left_align {
          th:nth-of-type(3) {
            text-align: left;
          }
        }

        .darkText {
          color: $secondary-color;
        }

        .with_header {
          padding-top: 0;
        }

        .no_header {
          padding-top: 1%;
        }

        .with_list_bellow {
          padding-bottom: 0;
        }

        .with_list_above {
          padding-top: 0;
        }

        a, a:visited{
          text-decoration: underline;
          color: $button-colour;

          &:hover {
            font-weight: 800;
          }
        }
      }

      .second {
        order: 2;
      }

    }
  }

 