@import "colours.scss";
@import "blogPostContent.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

main {
  margin: none;
  padding: none;

  width: 100%;
  height: 100%;

  h2 {
    text-align: left;
    padding-left: 5vw;
  }

  .examples {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 37.5px 0 37.5px 0;
    width: 100%;
    box-shadow: inset 15px 15px 30px $shadow-dark,
      inset -15px -15px 30px $shadow-light;
    background-color: $primary-color;
  }

  .example {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    color: black;
    margin-bottom: 5vh;

    img {
      width: 500px;
      height: none;
    }
  }

  .extext {
    h3 {
      color: $primary-color;
      padding: 0 0 0 3%;
    }
    background: $light-color;
    p {
      padding: 0 3% 2% 3%;
    }
  }

  .dissAndDemo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }

  @media screen and (max-width: 1350px), screen and (max-width: 600px) {
    .content {
      margin: auto;
      margin-bottom: 5vh;
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    
    .examples {
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    .example {
      margin: 15px;
      width: 360px;
      img {
        width: 360px;
      }
    }

    .dissAndDemo {
      flex-direction: column;
    }

    .paragraph {
      height: fit-content;
      max-height: none;
      max-width: none;
      width: 360px;
      float: none;

      flex-direction: column;
      max-width: min-content;
      margin: auto;
      margin-top: 0;

      .big-container {
        div {
          flex-direction: column;
        }
      }

      img {
        order: 1;
        max-height: none;
        max-width: none;
        width: 360px;
        height: none;
        float: none;
      }

      .blogText {
        order: 2;
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
      }
    }

    h2 {
      text-align: center;
      padding-left: 0;
    }
  }
}
