@import "colours.scss";

$anim-time: 0.3s;

.card {
  flex-basis: 20%;
  position: relative;
  margin: 16.5px;

  .face {
    width: 330px;
    height: 220px;
    transition: 0.5s;
    border-radius: 27.5px;
    transition: 0.4s;
  }

  .cardshadow {
    width: 330px;
    height: 220px;
    transition: 0.4s;
    position: absolute;
    border-radius: 26.5px;
    animation-name: fadein;
    animation-duration: $anim-time;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    z-index: 1;
    pointer-events: none;
  }

  .face.card-top {
    position: relative;
    color: #fff;

    background: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(110px);
    //overflow: hidden;

    animation-name: imgfadein;
    animation-duration: $anim-time;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;

    .under-construction {
      width: 330px;
      height: 220px;
      border-radius: 25px;
      position: absolute;
      z-index: 2;
    }

    .card-content {
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0.8;
      text-align: left;

      img {
        max-width: 110px;
        max-height: 125.224px;
      }

      h3 {
        padding-left: 11px;
        max-width: 165px;
        text-align: center;
      }
    }
  }

  .face.card-descrip {
    position: relative;
    background: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 22px;
    box-sizing: border-box;
    transform: translateY(-110px);
    color: $light-color;
    //transition: 0.2s;
    //z-index: 0;

    .card-content {
      animation-name: descripfadeout;
      animation-duration: $anim-time * 0.6;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
    }

    p,
    a {
      opacity: 0.8;
    }

    p {
      margin: 0;
      padding: 0;
    }

    a {
      margin: 11px 0 0;
      display: inline-block;
      text-decoration: none;
      color: $light-color;
      font-weight: 990;
      padding: 5.5px;
      border: 1.1px solid $light-color;
    }

    a:hover {
      background: #333;
    }
  }

  @keyframes fadeout {
    0% {
      box-shadow: 16.5px 16.5px 33px $shadow-dark,
        -16.5px -16.5px 33px $shadow-light;
      opacity: 1;
    }
    60% {
      opacity: 0;
    }
    100% {
      box-shadow: inset 16.5px 16.5px 33px $shadow-dark,
        inset -16.5px -16.5px 33px $shadow-light;
      opacity: 1;
    }
  }

  @keyframes fadein {
    0% {
      box-shadow: inset 16.5px 16.5px 33px $shadow-dark,
        inset -16.5px -16.5px 33px $shadow-light;
      opacity: 1;
    }
    60% {
      opacity: 0;
    }
    100% {
      box-shadow: 16.5px 16.5px 33px $shadow-dark,
        -16.5px -16.5px 33px $shadow-light;
      opacity: 1;
    }
  }

  @keyframes imgfadeout {
    0% {
      opacity: 1;
    }
    60% {
      opacity: 0;
      visibility: hidden;
    }
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }

  @keyframes imgfadein {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    60% {
      opacity: 0;
      visibility: visible;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes descripfadein {
    0% {
      opacity: 0;
    }
    60% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes descripfadeout {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  &:hover {
    .face.card-top {
      background: none;
      transform: translateY(0px);
    }

    .face.card-descrip {
      transform: translateY(0px);
      .card-content {
        animation-name: descripfadein;
        animation-duration: $anim-time;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
      }
    }
    .cardshadow {
      transform: translateY(110px);
      height: 440px;
      animation-name: fadeout;
      animation-duration: $anim-time;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
      z-index: 1;
    }
  }
}
