body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: white;
}

.navbar {
  display: flex;
  background-color: #212121;
}

.nav {
  display: flex;
  margin: 0;
  list-style-type: none;
}

.title {
  min-width: 40%;
  font-size: 30px;
  color: white;
}

.nav-element {
  min-height: 70px;
  padding: 0px 20px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid #000;
}

.nav-link:hover {
  background-color: #323232;
}

main {
  margin: 20px;
}

.practical-container {
  display: flex;
}

.practical-card {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 300px;
}
