$primary-color: #222831;
$secondary-color: #393e46;
$tertiary-color: #f96d00;
$light-color: #f2f2f2;
$shadow-dark: #181d23;
$shadow-light: #2c333f;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $primary-color;
  color: $light-color;
  font-family: Roboto, sans-serif;
}

h1,
h2 {
  font-weight: 110;
}

h1 {
  font-size: 3.3em;
}

h2 {
  font-size: 2.75em;
}

header {
  .header-container {
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 5.5vh;
    padding-top: 0;
    padding-bottom: 2rem;
    .content {
      padding-top: 0;
      h1 {
        margin-bottom: 1.5rem;
        a {
          text-decoration: none;
          color: inherit;
        }
      }
      .links {
        list-style-type: none;
        display: flex;
        justify-content: center;
        //margin-top: 1.1rem;
        width: 100%;
        a {
          text-align: center;
          font-size: 1.1rem;
          color: $light-color;
          text-decoration: none;
          padding: 0 5.5px 0 5.5px;
        }
      }
    }
  }

  hr {
    background-color: #000;
    margin: 0 5.5vh 0vh 5.5vh;
    border-color: $tertiary-color;
  }
}

main {
  width: 100%;
}
